#bannerbg{
  background-image: url('../blog-post-1.jpeg');
 
}
/* #designbtn {

  color: purple;
} */
/* #designbtn:hover{
  transform: scale(1.05);
  
} */

#firstone {
  transition: transform .3s; /* Animation */
  margin-bottom: 1%;
  color: purple;
  font-weight: bolder;

}
#firstone:hover{
  transform: scale(1.05);
  
}

#secondone {
  transition: transform .3s; /* Animation */
  margin-bottom: 1%;
  color: purple;
  font-weight: bold;
}
#secondone:hover{
  transform: scale(1.05);

  
}
#thirdone {
  transition: transform .3s; /* Animation */
  margin-bottom: 1%;
  color: purple;
}
#thirdone:hover{
  transform: scale(1.05);
  
}